.page-header,
.page-footer {
    background-color: #3A3A73;
    color: #fff;
}

.page-header__logo,
.page-header__heading,
.page-header__sub-heading, 
.page-footer__logo {
    margin: 0.5em;
}

.page-header__logo,
.page-footer__logo {
    height: 50px;
    width: auto;
}

.page-header__heading {
    font-size: 1.75rem;
}

.page-header__nav,
.page-footer__nav {
    border-top: 1px solid black;
    text-align: center;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__item {
    flex-grow: 1;
    flex-basis: 100%;
}

.nav__link {
    display: block;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
}

.nav__link:hover {
    background-color: #CC0017;
}

@media screen and (min-width: 992px) {
    .page-header,
    .page-footer {
        display: flex;
        flex-wrap: wrap;
        padding: 1em;
        padding-bottom: 0;
    }

    .page-header__logo,
    .page-header__heading,
    .page-header__sub-heading,
    .page-footer__logo {
        margin: 0 1em;
    }

    .page-header__heading,
    .page-header__sub-heading {
        flex-grow: 1;
        text-align: right;
    }

    .page-header__heading {
        font-size: 2rem;
    }

    .page-header__sub-heading {
        flex-basis: 100%;
        font-size: 1.5rem;
        margin-bottom: 1em;
    }

    .page-header__nav,
    .page-footer__nav {
        border: none;
        flex-grow: 1;
        flex-basis: 100%;
        text-align: right;
    }

    .nav__list {
        display: block;
    }

    .nav__item {
        display: inline-block;
        flex-basis: auto;
        flex-grow: 0;
    }
}

main {
    padding-top: 1em;
    padding-bottom: 1em;
}

section {
    border-bottom: 1px solid #555;
}

section:last-of-type {
    border-bottom: none;
}

.team-photo {
    display: block;
    margin: 0 auto;
}