/* blue #3A3A73 */
/* red #CC0017 */

main {
    padding-left: 1em;
    padding-right: 1em;
}

/****************************************************
TABLE
****************************************************/
/* styling for mobile */
.table-schedule {
    border-collapse: collapse;
    display: block;
}

.table-schedule__head {
    display: none;
}

.table-schedule__body {
    display: block;
}

.table-schedule__body tr {
    background-color: #fafafa;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    padding: 1em;
}

.table-schedule__body tr:nth-child(odd) {
    border: 2px solid #CC0017;
}

.table-schedule__body tr:nth-child(even) {
    border: 2px solid #3A3A73;
}

.table-schedule--date {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
    width: 100%;
}

.table-schedule--time {
    margin-bottom: 0.5em;
    width: 20%;
}

.table-schedule--location {
    margin-bottom: 0.5em;
    text-align: right;
    width: 80%;
}

.table-schedule--opponent {
    width: 80%;
}

.table-schedule--result {
    text-align: right;
    width: 20%;
}

/* styling for desktop */
@media all and (min-width: 830px) {
    .table-schedule {
        border: 1px solid #3A3A73;
        display: table;
        width: 100%;
    }

    .table-schedule__head,
    .table-schedule__body {
        display: table-row-group;
    }

    .table-schedule__head {
        background-color: #3A3A73;
        color: white;
    }

    .table-schedule__head tr,
    .table-schedule__body tr {
        display: table-row;
    }

    .table-schedule__body tr:nth-child(odd),
    .table-schedule__body tr:nth-child(even) {
        border: none;
        box-shadow: none;
    }

    .table-schedule__body tr:nth-child(odd) {
        background-color: #fafafa;
    }

    .table-schedule__body tr:nth-child(even) {
        background-color: #f0f0f0;
    }

    td[class^="table-schedule"] {
        width: auto;
    }

    .table-schedule--location,
    .table-schedule--result {
        text-align: left;
    }

    .table-schedule--date {
        font-size: 1em;
        font-weight: normal;
    }

    th,
    td {
        display: table-cell;
        padding: 10px;
        text-align: left;
    }

    td {
        vertical-align: top;
    }
}
